<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unesc.artesmarciaisapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_full"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.init.InitActivity"
            android:theme="@style/InitTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:theme="@style/LoginTheme">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.init.InitActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.login.LoginActivity" />
        </activity>
        <activity
            android:name=".ui.student.StudentActivity"
            android:label="@string/title_students">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ui.student.AddStudentActivity"
            android:label="@string/title_add_students">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.student.StudentActivity" />
        </activity>
        <activity
            android:name=".ui.student.UpdateStudentActivity"
            android:label="@string/title_update_students">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.student.StudentActivity" />
        </activity>
        <activity
            android:name=".ui.matriculation.MatriculationActivity"
            android:label="@string/title_matriculations">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ui.matriculation.AddMatriculationActivity"
            android:label="@string/title_add_matriculations">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.matriculation.MatriculationActivity" />
        </activity>
        <activity
            android:name=".ui.matriculation.UpdateMatriculationActivity"
            android:label="@string/title_update_matriculations">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.matriculation.MatriculationActivity" />
        </activity>
        <activity
            android:name=".ui.modality.ModalityActivity"
            android:label="@string/title_modality">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ui.modality.AddModalityActivity"
            android:label="@string/title_add_modality">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.modality.ModalityActivity" />
        </activity>
        <activity
            android:name=".ui.modality.UpdateModalityActivity"
            android:label="@string/title_update_modality">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.modality.ModalityActivity" />
        </activity>
        <activity
            android:name=".ui.graduation.GraduationActivity"
            android:label="@string/title_graduation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.modality.ModalityActivity" />
        </activity>
        <activity
            android:name=".ui.graduation.AddGraduationActivity"
            android:label="@string/title_add_graduation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.graduation.GraduationActivity" />
        </activity>
        <activity
            android:name=".ui.graduation.UpdateGraduationActivity"
            android:label="@string/title_update_graduation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.graduation.GraduationActivity" />
        </activity>
        <activity
            android:name=".ui.plan.PlanActivity"
            android:label="@string/title_plan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ui.plan.AddPlanActivity"
            android:label="@string/title_add_plan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.plan.PlanActivity" />
        </activity>
    </application>

</manifest>